github "ReSwift/ReSwift" "master"
github "ReSwift/ReSwiftRouter" "master"

github "AndrewSB/Library" "master"

github "ReactiveX/RxSwift"
github "antitypical/Result"

github "Haneke/HanekeSwift" "master"
