github "ReSwift/ReSwift" "master"
github "willowtreeapps/cordux"

github "AndrewSB/Library" "master"

github "ReactiveX/RxSwift" "develop"
github "antitypical/Result" ~> 3.0.0

github "pinterest/PINRemoteImage"
github "marketplacer/UnderKeyboard"

github "devxoul/Then" "swift-3.0"

github "ikesyo/Himotoki" "swift3"
